body{
  background-color: white;
  padding: 0;
  margin: 5rem;
  font-family: "Poppins", sans-serif;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.data-container{
  box-shadow: 2px 2px 2px 2px rgb(202, 202, 202);
  margin: 3rem 0rem;
  width: 50rem;
  border-radius: 1rem;
  padding: 1rem 3rem;
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 40rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px 2px rgb(202, 202, 202);
  color: black;
  border-radius: 1rem;
  padding: 1rem 0rem;
}

.links{
  font-size: larger;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid white;
}

.links:hover{
  color: red;
  border-bottom: 2px solid red;
}

.links:active{
  color: red;
}

.active{
  color: red;
}

.main{
  font-size: 1.5rem;
}

.recipes-title{
  text-align: center;
  border-bottom: 3px solid rgb(210, 210, 210);
  padding: 1rem 0rem;
  margin-bottom: 4rem;
}

.recipes-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  font-size: 1.2rem;
  padding: 2rem 0rem
}

.recipe-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 2px rgb(202, 202, 202);
}

.recipe-container>a{
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

.recipe-container>img{
  border-radius: 1rem;
}

.review-container{
  display: flex;
  flex-direction: column;
}

.review-container>p{
  font-size: 1.5rem;
  font-weight: 600;
}

.review-container>q{
  font-size: 1.5rem;
}

.review-container>div{
  text-align: right;
  font-style: italic;
  font-size: 1.2rem;
}

.found-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}