body{
  background-color: white;
  padding: 0;
  margin: 5rem;
  font-family: "Poppins", sans-serif;
  color: white;
}

body::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.data-container{
  box-shadow: 2px 2px 2px 2px rgb(202, 202, 202);
  margin: 3rem 0rem;
  width: 50rem;
  border-radius: 1rem;
  padding: 1rem 3rem;
  backdrop-filter: blur(20px);
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 40rem;
  box-shadow: 2px 2px 2px 2px rgb(202, 202, 202);
  color: black;
  border-radius: 1rem;
  padding: 1rem 0rem;
  backdrop-filter: blur(10px);
}

.active{
  color: red;
  border-bottom: 2px solid red !important;
}

.links{
  font-size: larger;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid white;
}

.links:hover{
  color: red;
  border-bottom: 2px solid red;
}

.links:active{
  color: red;
}

.active{
  color: red;
}

.main{
  font-size: 1.5rem;
}

.recipes-title{
  text-align: center;
  border-bottom: 3px solid rgb(210, 210, 210);
  padding: 1rem 0rem;
  margin-bottom: 4rem;
}

.recipes-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  font-size: 1.2rem;
  padding: 2rem 0rem
}

.recipe-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: black;
}

.recipe-container::before{
  background-color: white;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  opacity: 0.2;
  z-index: -1;
}

.recipe-container>a{
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

.recipe-container>img{
  border-radius: 1rem;
}

.review-container{
  display: flex;
  flex-direction: column;
}

.review-container>p{
  font-size: 1.5rem;
  font-weight: 600;
}

.review-container>q{
  font-size: 1.5rem;
}

.review-container>div{
  text-align: right;
  font-style: italic;
  font-size: 1.2rem;
}

.found-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}